// Colors
$white: #fff;
$dark: #000000;
$blue: #4164EE;
$pink: #F5AABE;
$green: #00AAAA;
$red: #FF4444;
$yellow: #FFE100;
$fea1: rgba(245, 170, 190, 0.2);
$fea2: #D1DAFA;
$fea3: #E8ECFD;
$lightblue: #F0F3FE;
// Sizes
$base-font-size: 16px;
// Fonts
$primary-font: 'Platform LC', sans-serif;
$title-font: 'Menoe Grotesque Pro', sans-serif;

$text-black: $dark;
$text-white: $white;

$cubic: cubic-bezier(.33,0,.25,1 );
$menuItems: 4;
$filterItems: 5;
$jobItems: 5;

$transition-duration: 0.5s;
$tr-delay: 0.3333s;
